.p-nothing.Flex137 {
display: flex;
flex-direction: column;
row-gap: 10px;
align-items: flex-start;
font-family: DM Sans;
font-weight: 500;
font-size: ;
padding-left: 5px;
padding-right: 5px;
color: #7f7c7c;
}
.p-nothing.Div112 {
;
}
.p-nothing.Div113 {
;
}
.p-nothing.Div114 {
;
}
.p-nothing.Div115 {
;
}
.p-nothing.Div116 {
;
}
.p-nothing.Div117 {
;
}
.p-nothing.Div118 {
;
}
.p-nothing.Div119 {
;
}
.p-nothing.TextBox114 {
font-size: 20px;
padding-bottom: 20px;
padding-right: 40px;
color: #000000;
}
.p-nothing.TextBox113 {
;
}
.p-nothing.TextBox112 {
;
}
.p-nothing.TextBox111 {
;
}
.p-nothing.TextBox110 {
;
}
.p-nothing.TextBox109 {
;
}
.p-nothing.TextBox108 {
;
}
.p-nothing.TextBox107 {
;
}
